.container {
  width: 100%;
}

.containerBox {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  width: 100%;
  padding: 0 10px;
}

.image {
  object-fit: contain;
  margin-right: 10px;
}
.containerInput {
  display: flex;
  align-items: center;
  margin: 0 10px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 624rem;
  border-width: 0px;
  padding: 8px 12px;
  background-color: white;
  flex: 1;
  border: 0.5px solid rgb(216, 211, 211);
  transition: 200ms ease;
}

.containerInput:hover {
  box-shadow: 0 20px 5px 5px rgb(0 0 0 / 0.1),
    0 8px 20px -6px rgb(0 0 0 / 0.1);
}

.inputSearch {
  border: none;
  transition: 1s ease;
  flex: 1;
  padding: 5px;
}

.inputSearch:focus {
  /* outline: none;

  border: 0.5px solid rgb(60, 58, 58);

  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5); */

  outline: none;
}

@media screen and (min-width: 720px) {
  .containerInput {
    max-width: 50rem;
  }

  .container {
    max-width: 60rem;
  }
}
