.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;

  padding: 0 5px;
  padding-bottom: 5px;
  padding-top: 8px;
}

.containerFormAndMenus {
  width: 100%;
}
.containerDropMenus {
  display: flex;
  padding: 0.3rem;
}

.containerInput {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0 5px;
  box-shadow: 0 1px 10px 3px rgb(0 0 0 / 0.01), 0 8px 20px -6px rgb(0 0 0 / 0.1);

  border-radius: 624rem;
  border-width: 0px;
  padding: 8px 8px;
  background-color: white;

  border: 0.5px solid rgb(216, 211, 211);
  transition: all 200ms ease;
}
.image {
  object-fit: contain;
  margin-right: 10px;
}

.containerInput:hover {
  box-shadow: 0 1px 10px 3px rgb(0 0 0 / 0.1), 0 8px 20px -6px rgb(0 0 0 / 0.1);
}

.inputSearch {
  border: none;
  transition: all 1s ease;
  flex: 1;
  padding: 5px;
  flex-grow: 1;
}

.inputSearch:focus {
  /* outline: none;

  border: 0.5px solid rgb(60, 58, 58);

  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5); */

  outline: none;
}

@media screen and (min-width: 720px) {
  .containerInput {
    max-width: 50rem;
  }

  .container {
    max-width: 60rem;
    flex-direction: row;
    align-items: start;
    padding: 15px;
    padding-bottom: 10px;
  }
}
