.searchButton{
    background-color: rgb(97, 97, 227);
    color: white;
    transition: all 300ms ease;
    padding: 0.8rem 0;
    font-weight: 700;
    border-radius: 624rem;
    width: 3.3rem;
}

.searchButton:hover{
    background-color: rgb(57, 57, 236);
}

.searchButton:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}